<% title "Topics" %>

<table>
  <tr>
    <th width="30%">Topic</th>
    <th width="70%" colspan="4">Description</th>
  </tr>
  <% for topic in @topics %>
    <tr>
      <td><h3><%= link_to h(topic.name), topic_path(topic.id) %></h3>
        <% if topic.threds.empty? == false %>
          <%=topic.threds.count %>
        <% else %>
          0
        <% end %> threads</td>
      <td><%= topic.description %></td>
      <td><%= link_to "Show", topic %></td>
      <td><%= link_to "Edit", edit_topic_path(topic) %></td>
      <td><%= link_to "Destroy", topic, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Topic", new_topic_path %></p>
