<%= form_for @thred do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :lastposterid %><br />
    <%= f.number_field :lastposterid %>
  </p>
  <p>
    <%= f.label :lastpostat %><br />
    <%= f.date_select :lastpostat %>
  </p>
  <p>
    <%= f.label :topic_id %><br />
    <%= f.number_field :topic_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
