 <% title @thred.name %>  
   
 <% for post in @thred.posts %>  
 <div class="post">  
   <span class="left"><%= link_to post.user.username %><br /><%= link_to "Delete", post, :confirm => 'Are you sute?', :method => :delete%></span>  
   <span class="right"><%= post.content %></span>  
 </div>  
 <% end %>  
  
<p>
  <% if logged_in? %><%= link_to "Reply", "#{new_post_path}?thred=#{@thred.id}" %> | <% end %> 
  <% if admin? %><%= link_to "Destroy Thread", @thred, :confirm => 'Are you sure?', :method => :delete %> | <% end %> 
  <%= link_to "View All", topic_path(@thred.topic_id %>
</p>
